<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Contact - Exploration de l'Espace</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
</head>
<body>
    <header>
        <div class="name">Issa Yatabare</div>
        <h1>Exploration de l'Espace</h1>
        <nav>
            <a href="/">Accueil</a>
            <a href="/contact/">Contact</a>
        </nav>
    </header>
    <main>
        <div class="form-container">
            <h2>Contactez-nous</h2>
            <form action="/submit-contact" method="post">
                <label for="nom">Nom:</label>
                <input type="text" id="nom" name="nom" required>
                
                <label for="prenom">Prénom:</label>
                <input type="text" id="prenom" name="prenom" required>
                
                <label for="message">Message:</label>
                <textarea id="message" name="message" rows="5" required></textarea>
                
                <input type="submit" value="Envoyer">
            </form>
        </div>
    </main>
    <footer>
        &copy; 2024 Exploration de l'Espace. Tous droits réservés.
    </footer>
</body>
</html>

